<section>
  <div class="row text-center profileTitle">
    <h1>{{ currentProfile.Username }}'s Profile</h1>
  </div>
  <div class="row col-md-6">
    <img class="profilePagePic well" src="{{ currentProfile.AvatarPic }}" alt="">
  </div>
  <div class="col-md-6 profileText">
    <p id="pSpacing">Username : {{ currentProfile.Username }}</p>
    <p id="pSpacing">Age : {{ currentProfile.Age }}</p>
    <p id="pSpacing">Sex : {{ currentProfile.Sex }}</p>
    <p id="pSpacing">Height : {{ currentProfile.Height }}</p>
    <p id="pSpacing">Body Type : {{ currentProfile.BodyType }}</p>
    <p id="pSpacing">Location : {{ currentProfile.Location }}</p>
    <h3 class="text-center">Take {{ currentProfile.Username }}'s Quiz to access full Profile</h3>
    <button class="btn btn-warning btn-block" ng-click="selectUserQuiz(currentProfile.Id)">Take {{ currentProfile.Username }}'s Quiz</button>
  </div>
  <div class="col-md-12">
    <h1>{{ currentProfile.Username }}'s Main Pop</h1>
    <h3>{{ currentProfile.MainPopTitle }}</h3>
    <p class="fullMainText">{{ currentProfile.MainPopFull }}</p>
  </div>
  <div class="col-md-12">
    <h1>{{ currentProfile.Username }}'s Sub Pop</h1>
    <h3>{{ currentProfile.SubPopTitle }}</h3>
    <p class="fullMainText">{{ currentProfile.SubPopFull }}</p>
  </div>
</section>